# macOS
.DS_Store

# Databases and large data
database/
results/
log/
input/
conda_envs/

# Snakemake internals
.snakemake/

# Local scratch / test outputs
input_fake/
result_fake/
result_local/
iphop/
TerL_tree.treefile
test.sh
prompt/
workflow/phylogenetic_tree
